USE [master]
GO
/****** Object:  Database [DB_SP_SaleBoots]    Script Date: 08.12.2025 22:51:43 ******/
CREATE DATABASE [DB_SP_SaleBoots]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_SP_SaleBoots', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_SP_SaleBoots.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_SP_SaleBoots_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_SP_SaleBoots_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_SP_SaleBoots].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_SP_SaleBoots]
GO
/****** Object:  Table [dbo].[Categoryes]    Script Date: 08.12.2025 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoryes](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufactures]    Script Date: 08.12.2025 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufactures](
	[ManufacturerID] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Proizvoditeli] PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProducts]    Script Date: 08.12.2025 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProducts](
	[Article] [nvarchar](255) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderProducts_1] PRIMARY KEY CLUSTERED 
(
	[Article] ASC,
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 08.12.2025 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NULL,
	[DeliveryDate] [datetime] NULL,
	[PickupPointsID] [int] NOT NULL,
	[UsersID] [int] NOT NULL,
	[ReceiptCode] [int] NOT NULL,
	[OrderStatusesID] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 08.12.2025 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatus] [nvarchar](255) NULL,
 CONSTRAINT [PK_OrderStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickupPoints]    Script Date: 08.12.2025 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickupPoints](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK_PickupPoints] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 08.12.2025 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Article] [nvarchar](255) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[UnitsID] [int] NOT NULL,
	[Price] [decimal](10, 2) NULL,
	[SupplierID] [int] NOT NULL,
	[ManufacturerID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Discount] [decimal](10, 2) NULL,
	[QuantityInStock] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[Photo] [nvarchar](255) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 08.12.2025 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleUser] [nvarchar](255) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 08.12.2025 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Postavshik] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 08.12.2025 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitsID] [int] IDENTITY(1,1) NOT NULL,
	[UnitsName] [nvarchar](255) NULL,
 CONSTRAINT [PK_EdIzm] PRIMARY KEY CLUSTERED 
(
	[UnitsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08.12.2025 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoryes] ON 

INSERT [dbo].[Categoryes] ([CategoryID], [CategoryName]) VALUES (1, N'Женская обувь')
INSERT [dbo].[Categoryes] ([CategoryID], [CategoryName]) VALUES (2, N'Мужская обувь')
SET IDENTITY_INSERT [dbo].[Categoryes] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufactures] ON 

INSERT [dbo].[Manufactures] ([ManufacturerID], [ManufacturerName]) VALUES (1, N'Kari')
INSERT [dbo].[Manufactures] ([ManufacturerID], [ManufacturerName]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Manufactures] ([ManufacturerID], [ManufacturerName]) VALUES (3, N'Рос')
SET IDENTITY_INSERT [dbo].[Manufactures] OFF
GO
INSERT [dbo].[OrderProducts] ([Article], [OrderID], [Quantity]) VALUES (N'B320R5', 9, 5)
INSERT [dbo].[OrderProducts] ([Article], [OrderID], [Quantity]) VALUES (N'D329H3', 4, 4)
INSERT [dbo].[OrderProducts] ([Article], [OrderID], [Quantity]) VALUES (N'D329H3', 8, 4)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDate], [DeliveryDate], [PickupPointsID], [UsersID], [ReceiptCode], [OrderStatusesID]) VALUES (1, CAST(N'2025-02-27T00:00:00.000' AS DateTime), CAST(N'2025-04-20T00:00:00.000' AS DateTime), 1, 1, 901, 1)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [DeliveryDate], [PickupPointsID], [UsersID], [ReceiptCode], [OrderStatusesID]) VALUES (2, CAST(N'2022-09-28T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), 11, 2, 902, 1)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [DeliveryDate], [PickupPointsID], [UsersID], [ReceiptCode], [OrderStatusesID]) VALUES (3, CAST(N'2025-03-21T00:00:00.000' AS DateTime), CAST(N'2025-04-22T00:00:00.000' AS DateTime), 2, 3, 903, 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatuses] ON 

INSERT [dbo].[OrderStatuses] ([StatusID], [OrderStatus]) VALUES (1, N'Завершен')
INSERT [dbo].[OrderStatuses] ([StatusID], [OrderStatus]) VALUES (2, N'Новый ')
SET IDENTITY_INSERT [dbo].[OrderStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[PickupPoints] ON 

INSERT [dbo].[PickupPoints] ([AddressID], [Address]) VALUES (1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[PickupPoints] ([AddressID], [Address]) VALUES (2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[PickupPoints] ([AddressID], [Address]) VALUES (3, N'630370, г. Лесной, ул. Шоссейная, 24')
SET IDENTITY_INSERT [dbo].[PickupPoints] OFF
GO
INSERT [dbo].[Products] ([Article], [ProductName], [UnitsID], [Price], [SupplierID], [ManufacturerID], [CategoryID], [Discount], [QuantityInStock], [Description], [Photo]) VALUES (N'B320R5', N'Туфли', 1, CAST(4300.00 AS Decimal(10, 2)), 1, 4, 1, CAST(2.00 AS Decimal(10, 2)), 6, N'Туфли Rieker женские демисезонные, размер 41, цвет коричневый', N'9.jpg')
INSERT [dbo].[Products] ([Article], [ProductName], [UnitsID], [Price], [SupplierID], [ManufacturerID], [CategoryID], [Discount], [QuantityInStock], [Description], [Photo]) VALUES (N'B431R5', N'Ботинки', 1, CAST(2700.00 AS Decimal(10, 2)), 2, 4, 2, CAST(2.00 AS Decimal(10, 2)), 5, N'Мужские кожаные ботинки/мужские ботинки', NULL)
INSERT [dbo].[Products] ([Article], [ProductName], [UnitsID], [Price], [SupplierID], [ManufacturerID], [CategoryID], [Discount], [QuantityInStock], [Description], [Photo]) VALUES (N'C436G5', N'Ботинки', 1, CAST(10200.00 AS Decimal(10, 2)), 1, 5, 1, CAST(15.00 AS Decimal(10, 2)), 9, N'Ботинки женские, ARGO, размер 40', NULL)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleUser]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [RoleUser]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([RoleID], [RoleUser]) VALUES (3, N'Авторизированный клиент')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName]) VALUES (1, N'Kari')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName]) VALUES (2, N'Обувь для вас')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([UnitsID], [UnitsName]) VALUES (1, N'шт.')
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [RoleID], [FullName], [Login], [Password]) VALUES (1, 1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[Users] ([UserID], [RoleID], [FullName], [Login], [Password]) VALUES (2, 1, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[Users] ([UserID], [RoleID], [FullName], [Login], [Password]) VALUES (3, 1, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderProducts_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_OrderProducts_Orders]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderProducts_Products] FOREIGN KEY([Article])
REFERENCES [dbo].[Products] ([Article])
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_OrderProducts_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatuses] FOREIGN KEY([OrderStatusesID])
REFERENCES [dbo].[OrderStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PickupPoints] FOREIGN KEY([PickupPointsID])
REFERENCES [dbo].[PickupPoints] ([AddressID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PickupPoints]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UsersID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categoryes] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categoryes] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categoryes]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Manufactures] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufactures] ([ManufacturerID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Manufactures]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Units] FOREIGN KEY([UnitsID])
REFERENCES [dbo].[Units] ([UnitsID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Units]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Employee_Roles]
GO
USE [master]
GO
